body {
    background-color:bisque;
    font-family: 'Raleway', sans-serif;
}

h3 {
    padding: 40px;
    padding-bottom: 0px;
    padding-top: 10px;
}

a {
    text-decoration: none;
    color:darkslategray    
}

a:hover {
    text-decoration: line-through;
    color:crimson;
}

div {
    padding-left: 30px;

}

img {
    padding-left: 5%
}